body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1,
h2 {
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: #16a085;
    margin-top: 20px;
    text-align: center;
}

p {
    text-align: center;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form select,
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2980b9;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

ul {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

ul li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
